---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
  <body>
    <h2 class="flex flex-col size-9">¡Bienvenidos!</h2>
    <p class="flex flex-col w-2xs">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti quae
      consequuntur aliquid obcaecati, illum aliquam sed, fuga dolor officia
      similique voluptatibus id in qui pariatur mollitia alias accusamus
      perferendis dignissimos!
    </p>
  </body>
</Layout>
