---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
  <body>
      <div class="w-fit flex flex-col mr-96 bg-amber-200 text-4xl"><h1 class="w-fit">¡Hola! Soy Brenda</h1></div>
      <div class="flex flex-col bg-blue-700 w-auto h-auto max-w-3xl mb-96 "><h2 class="w-fit h-full">
        Soy programadora Trainee, tengo conocimientos en desarrollo de Apps
        Mobiles y desarrollo Web, haciendo uso de las últimas tecnologías
        vigentes.
      </h2>
      </div>
  </body>
</Layout>
