---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca">
  <body>
    <div
      class="bg-blue-500 w-fit flex flex-col items-center justify-center min-h-screen"
    >
      <h1 class="w-fit bg-amber-400 text-5xl">¡Hola! Soy Brenda</h1>
      <h2 class="w-46 flex flex-col">
        Soy programadora Trainee, tengo conocimientos en desarrollo de Apps
        Mobiles y desarrollo Web, haciendo uso de las últimas tecnologías
        vigentes.
      </h2>
    </div>
  </body>
</Layout>
