---
import Navlink from "./ui/Navlink.astro";

---
<nav class="w-full p-8">
    <ul class="flex justify-between max-w-3x1 mx-auto w-full">
        <li class="">
            <Navlink ruta = "/"/>Home</Navlink>
            
        </li>
        <li>
            <Navlink ruta = "/about"/>Acerca</Navlink>
            
        </li>
        <li>
            <Navlink ruta = "/account"/>Mi cuenta</Navlink>         
        </li>
    </ul>
</nav>
