---
import Navlink from "./ui/Navlink.astro";
---

<div class="w-full h-16 bg-[#5A3E8D]">
  <ul
    class="flex justify-end items-center space-x-4 max-w-3xl mx-auto h-full w-full mr-20"
  >
    <li>
      <Navlink ruta="/" class="text-xl text-center items-end text-white"
        >Inicio</Navlink
      >
    </li>
    <li>
      <Navlink ruta="/services" class="text-xl text- items-end text-white"
        >Servicios</Navlink
      >
    </li>
    <li>
      <Navlink ruta="/contact" class="text-xl text-center items-end text-white"
        >Contacto</Navlink
      >
    </li>
  </ul>
</div>
