---
import Navlink from "./ui/Navlink.astro";

---
<nav class="w-full p-8">
    <ul class="flex justify-between max-w-3x1 mx-auto w-full">
        <li class="">
            <Navlink ruta = "/" texto = "Inicio"/>
        </li>
        <li>
            <Navlink ruta = "/about" texto = "Acerca"/>
        </li>
        <li>
            <Navlink ruta = "/account" texto = "Mi cuenta"/>           
        </li>
    </ul>
</nav>
