---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex flex-col justify-between items-center w-screen h-screen bg-gradient-left from-white to-[#6a00f4]"
  >
    <Navbar />
    <div class="w-full h-full">
      <slot />
    </div>
  </body>
</html>
